body{
  background-color: grey;
}

table {
    align-items: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.centerColumn{
  float: center;
  width: 100%;
  padding: 20px;
}
